aiohappyeyeballs
aiohttp
aiosignal
amqp
anyio
asgiref
asteval
astropy
astropy-iers-data
astroquery
attrs
autobahn
Automat
beautifulsoup4
bidict
billiard
blosc2
CacheControl
caugetch
cbor2
celery
certifi
cffi
channels
channels_redis
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
clipboard
cloudinary
colorama
configparser
constantly
contourpy
cron_descriptor
croniter
cryptography
cycler
daphne
dill
Django
django-celery-beat
django-cloudinary-storage
django-cors-headers
django-filter
django-rq
django-timezone-field
djangorestframework
djangorestframework_simplejwt
firebase_admin
fonttools
frozenlist
geographiclib
geopy
getpass4
gevent
google-api-core
google-auth
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
greenlet
grpcio
grpcio-status
gunicorn
h11
h2
h5py
habanero
hitran-api
hjson
hpack
html5lib
httpcore
httptools
httpx
hyperframe
hyperlink
idna
Incremental
jaraco.classes
jaraco.context
jaraco.functools
jeepney
joblib
json-tricks
keyring
kiwisolver
kombu
llvmlite
lmfit
lxml
matplotlib
more-itertools
mpldatacursor
msgpack
multidict
narwhals
ndindex
numba
numexpr
numpy
packaging
pandas
PeakUtils
periodictable
pillow
platformdirs
plotly
prompt_toolkit
propcache
proto-plus
protobuf
psutil
psycopg2-binary
publib
py-cpuinfo
py-ubjson
pyasn1
pyasn1_modules
pycparser
pyerfa
PyJWT
pyOpenSSL
pyparsing
pyperclip
python-crontab
python-dateutil
python-decouple
python-dotenv
python-engineio
python-socketio
pytz
pyvo
PyYAML
qrcode
radis
redis
requests
rq
rsa
ruamel.yaml
ruamel.yaml.clib
scipy
seaborn
SecretStorage
service-identity
simple-websocket
six
soupsieve
sqlparse
stripe
tables
termcolor
timedelta
toml
tqdm
Twisted
txaio
typing_extensions
tzdata
tzlocal
ujson
uncertainties
urllib3
uvicorn
uvloop
vine
vulkan
watchfiles
wcwidth
webencodings
websocket
websockets
wsproto
yarl
zope.event
zope.interface